.image-details {
  display: grid;
  grid-template-rows: 1fr 1fr min-content;
  height: 100%;
}

.scrollable-content {
  overflow: auto;
}

.image-viewer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-metadata {
  max-height: 100%;
}

.description {
  max-height: 120px;
  max-height: 20vh;
}

@media (min-width: 720px) {
  .image-details {
    grid-template-rows: 2fr 1fr min-content;
  }

  .description {
    max-height: 320px;
    max-height: 10vh;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
}
