*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-family: "Noto Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  color-scheme: light;
}

a {
  color: #336699;
}

a:hover {
  color: #003366;
}

button {
  border: none;
  border-radius: 5px;
}

body.dark-theme {
  background: #222;
  color: #fafafa;
  color-scheme: dark;
}

.dark-theme a {
  color: #6699cc;
}

.dark-theme a:hover {
  color: #99ccff;
}

.dark-theme button {
  background: #303030;
  color: #fafafa;
}

.dark-theme input {
  background: #303030;
  color: #fafafa;
}

img {
  image-rendering: pixelated;
}

.sidebar-layout {
  grid-template-rows: 75vh;
}

#app {
  width: 100vw;
}

.content {
  margin: 0;
  padding: 0.75em 1em;
}

.statistics {
  height: 100%;
  overflow-y: auto;
}

p {
  margin: 0.75em 0;
}

@media (min-width: 720px) {
  html,
  body {
    height: 100%;
  }

  #app {
    width: 80vw;
  }

  .sidebar-layout {
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 2fr;
    grid-gap: 1em;
    margin: 1em 0;
  }
}
