.entry {
  transition: opacity linear 0.15s;
}

.entry:hover,
.entry:focus {
  opacity: 75%;
}

.selected {
  border: 4px solid #69c;
}

.sidebar {
  max-height: 100%;
  overflow: auto;
}

.entriesList {
  display: none;
  margin: 0;
}

.entriesList a {
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
}

.entriesList img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.entriesDropdown {
  display: block;
}

@media (min-width: 720px) {
  .entriesDropdown {
    display: none;
  }

  .entriesList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(64px, 1fr));
  }
}

.search-bar {
  padding: 1em 0.5em;
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
  display: flex;
}

@media (prefers-color-scheme: dark) {
  .search-bar {
    background: #222;
    color: #fafafa;
  }
}
