.selected {
  font-weight: bold;
}

.entriesDropdown {
  display: block;
}

.entriesList {
  display: none;
}

@media (min-width: 640px) {
  .entriesDropdown {
    display: none;
  }

  .entriesList {
    display: block;
  }
}
