.sidebar {
  max-height: 100%;
  overflow-x: auto;
}

.entriesList {
  display: grid;
  grid-template-columns: repeat(auto-fit, 64px);
  grid-auto-flow: column;
  margin: 0;
  width: max-content;
}

.entriesList a {
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
}

.entriesList img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (min-width: 720px) {
  .entriesList {
    grid-template-columns: repeat(auto-fit, minmax(64px, 1fr));
    grid-auto-flow: initial;
    width: auto;
  }

  .sidebar {
    max-height: 100%;
    overflow-y: auto;
  }
}

.sidebar .header {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 10;
  display: inline-block;
  background: white;
}

.dark-theme .sidebar .header {
  background: #222;
  color: #fafafa;
}

.search-bar {
  padding: 1em 0.5em;
  gap: 10%;
}

.search-bar label,
.search-bar input {
  width: 90%;
}
