*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-family: sans-serif;
  height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

a {
  color: #336699;
}

a:hover {
  color: #003366;
}

#app {
  width: 80vw;
}

@media (min-width: 720px) {
  .sidebar-layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1em;
    margin: 1em 0;
  }
}

.footer {
  text-align: right;
}

img {
  box-shadow: 1px 1px 0 #aaa;
  display: block;
}
