*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-family: sans-serif;
  height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#app {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1em;
  width: 80vw;
}

img {
  border: 1px solid #333;
  box-shadow: 1px 1px 5px #333;
  display: block;
}
